<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.o0u0o.service.security.mapper.StaffMapper">

    <update id="updateStatus">
        update acl_staff set status = #{status} where id = #{id}
    </update>
    <select id="validateByUserName" resultType="java.lang.Integer">
        select COUNT(*) from acl_staff where username = #{username}
    </select>
    <select id="selectAuthInfo" resultType="cn.o0u0o.service.security.entity.vo.StaffAuthInfo">
        select id, email, mobile from acl_staff where username = #{username}
    </select>
</mapper>
