<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.o0u0o.service.video.mapper.PubZoneMapper">

    <select id="selectNodeByLevel" resultType="cn.o0u0o.service.video.entity.PubZone">
        select id, title, sort, parent_id from pub_zone where level = 0 and `show` = 1
    </select>

    <select id="selectChildByParentId" resultType="cn.o0u0o.service.video.entity.PubZone">
        select id, title, notes, parent_id, sort from pub_zone where parent_id = #{parentId} and `show` = 1
    </select>
    <select id="selectCountById" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM pub_zone WHERE id = #{id}
    </select>

    <resultMap id="zoneHierarchy" type="cn.o0u0o.service.video.entity.vo.ZoneHierarchy">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="sort" column="sort"/>
        <collection property="children" select="structureHierarchy"
                    ofType="cn.o0u0o.service.video.entity.vo.ZoneHierarchy" column="id"/>
    </resultMap>
    <select id="structureHierarchy" resultMap="zoneHierarchy">
        select id, title, sort from pub_zone where parent_id = #{parentId}
    </select>
    <select id="selectRowByTitle" resultType="java.lang.Integer">
        select count(*) from pub_zone where title = #{title}
    </select>

</mapper>
