<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.o0u0o.service.video.mapper.VVideoInfoMapper">

    <select id="selectVideoByTerm" resultType="cn.o0u0o.service.video.entity.vo.TableData">
        SELECT img.img_location, text.video_title, text.author_id, zone.zone_type, info.play_nub, s.video_status
        FROM v_video v
        LEFT JOIN v_video_info info ON v.`video_info_id` = info.`id`
        left join v_video_text text on v.`video_info_id` = text.`video_info_id`
        LEFT JOIN pub_zone zone ON text.`zone_id` = zone.`id`
        LEFT JOIN pub_img img ON img.`id` = text.`img_id`
        left join v_video_status s on info.`video_status` = s.`id`
        <where>
            <if test="videoId != null and videoId != ''">
                v.video_id = #{videoId}
            </if>
            <if test="videoTitle != null and videoTitle != ''">
                and info.video_title = #{videoTitle}
            </if>
            <if test="authorId != null and authorId != ''">
                and v.author_id = #{authorId}
            </if>
            <if test="startTime != null and startTime != ''">
                and v.gmt_create &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and v.gmt_create &lt; #{endTime}
            </if>
            <if test="playNub != null and playNub != ''">
                and info.play_nub = #{playNub}
            </if>
            <if test="videoStatus != null and videoStatus != ''">
                and stat.video_status = #{videoStatus}
            </if>
        </where>
    </select>
    <select id="getVideoInfoById" resultType="cn.o0u0o.service.video.entity.vo.VideoInfoForm">
        SELECT v.id, text.author_id, u.user_name, text.video_title, text.video_brief, info.gmt_create, info.play_nub, info.video_pnumb, info.video_coin, lk.like_number, lk.down_number, zone.zone_type, s.video_status
        FROM  v_video v
        LEFT JOIN v_video_info info ON v.`video_info_id` = info.`id`
        left join v_video_text text on v.`video_info_id` = text.`video_info_id`
        LEFT JOIN u_user u ON text.`author_id` = u.`id`
        LEFT JOIN v_like lk ON info.`like_id` = lk.`id`
        LEFT JOIN pub_zone zone ON text.`zone_id` = zone.`id`
        left join v_video_status s on info.`video_status` = s.`id`
        WHERE v.id = #{id}
    </select>

    <!--<select id="test" resultType="java.lang.Object">
        select 1 from v_video
    </select>-->
</mapper>
