html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, small, strong, dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
em, strong, i {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
body {
  line-height: 1;
  font-size: 12px;
  font-family: "Microsoft Yahei";
  color: #333;
  background-color: #fff;
}
ul, ol {
  list-style: none;
}
a {
  display: block;
  color: #212121;
  text-decoration: none;
  transition: color .3s;
}
a:hover {
  color: #00a1d6;
}
a, a:hover {
  text-decoration: none;
}
input, button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
img {
  vertical-align: top;
  border: 0;
}
#header {
  width: 100%;
  height: 155px;
}
#page_top {
  width: 100%;
  height: 42px;
}
#footer {
  width: 100%;
  background-color: #f6f9fa;
}
.icon-advertising {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 38px;
  height: 22px;
  margin-right: 3px;
  z-index: 1;
  vertical-align: middle;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAsCAMAAAD4va5DAAAAolBMVEX///8AAAAAAAAAAAAAAAACAgIAAAAAAAAGBgb5+fns7OwAAACBgYHq6ur9/f17e3tgYGD09PSoqKiLi4sAAAANDQ3V1dW6urqPj48DAwMAAAD////u7u7j4+MbGxv////b29vBwcH19fXt7e3GxsaLi4ukpKRTU1P4+Pjl5eXh4eHX19fLy8vb29v4+PisrKwvLy86Ojr7+/vy8vK4uLhVVVX0WqNFAAAANnRSTlOZAgULFR0IACCBYxIvW4sxJmk0HxoXU0grJQ6TZl0cj1RFcmtENTUmfGFYTUlGcT4rI4dyMhsJ24tXAAABiElEQVRIx+3XyW6DMBCA4WnAzrCUJUDYCpQAIWuTdHn/V6sNqZqFAwSfqv4HJHP4ZECIAabT6ZOQGARnazKqhuBYI1EqjYjSxpsCt6gUaZr8cJoWSZRr0FiObcCIDNvhWoNJTgYjyxypxWhkw+jsiHJsQjVjPGZodMIxSQMBaVKLySIw+R/jxX5lXK2LFYDqK4/tLCeby+UadwA7XAzECj/Py7KcuXVZ5rnv+zHfmEXYzvbuUOwVyU+IGIYhxxLipp4ne15K2Dm/P0Y2ylV8tyQNWF+yEwS6ac4HYC9w0wLT5vr28tvgy7zD3msbhGHqRm369LZqW/Y4FiJxWR7LdQnBMFR6Ylss4KYkSZ4vYkujJ7bDhbjX6YAruGu9nLGW7THvj1Vo3GNzcrIsq64tFtH7YyeELuz3qaT9MQUrcZiKW3HYISw6MSvQddM0dT0gvbH4eIy7MLS41Who9r9nc+hoXX3Auazy/84HZSAmdjwQOriIHKmEDnuCx1ChA7LI0V3sT4XQ351vRIIkxg4KQCAAAAAASUVORK5CYII=);
  background-size: cover;
}

.column {
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 40px;*/
  padding-bottom: 40px;
}
.column .lump-left {
  width: 854px;
}
@media screen and (max-width: 1654px) {
  .column .lump-left {
    width: 854px;
  }
}
/*@media screen and (max-width: 1870px) {*/
/*  .column .lump-left {*/
/*    width: 1070px;*/
/*  }*/
/*}*/
.column .lump-left .l-con {
  display: inline-flex;
}
.column .lump-left .exchange-btn {
  display: flex;
}
.column .lump-left .exchange-btn .btn-change {
  padding: 0 0 0 6px;
  width: 72px;
}
.column .lump-left .exchange-btn .btn-change i{
  margin-right: 4px;
  transition: all .5s;
  vertical-align: middle;
}
.column .lump-left .exchange-btn .btn-change .iconfont:active {
  display: inline-block;
  transform: rotate(180deg);
}
.column .btn {
  align-items: center;
  cursor: pointer;
  height: 22px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 2px;
  font-size: 12px;
  color: #505050;
  transition: all .2s;
  line-height: 16px;
  display: flex;
  padding: 0 10px;
  margin-left: 5px;
}
.column .lump-left .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 36px;
}
.column .lump-left .icon {
  float: left;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 6px;
  background: url('https://mcsql-002.oss-cn-beijing.aliyuncs.com/web/page_icons.png') no-repeat -74px -77px;
}
.column .lump-left .name {
  float: left;
  color: #212121;
  cursor: default;
  margin: 0 20px 0 0;
  vertical-align: bottom;
  font-size: 20px;
  line-height: 36px;
}
.column .lump-left .text-info {
  font-size: 12px;
  color: #505050;
  line-height: 36px;
}
.column .lump-left .text-info i{
  color: #fc4949;
  margin-right: 3px;
}
/* list */
.column .lump-left .list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.column .lump-left .video-item {
  width: 206px;
  cursor: pointer;
}
.column .lump-left .video-img {
  position: relative;
  width: 100%;
  height: 116px;
}
.column .lump-left .video-img:before{
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAwCAYAAAGnNCAXAAAABGdBTUEAALGPC/xhBQAAAENJREFUCB1jYGBgYGICEpIgQgqNBRRi4MMmARYDyXKAWLwgggfOAnMJiIH0soJ0sMEJdlQWWBYshpAAK0ZwwSzS1AEAes8Ckyqvlc0AAAAASUVORK5CYII=);
  background-size: contain;
  background-repeat: repeat-x;
  border-radius: 0 0 2px 2px;
}
.column .lump-left .video-img a img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.column .lump-left .video-img a .count {
  z-index: 5;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 6px 8px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
}
.column .lump-left .video-img a .count .left i {
  margin-right: 1px;
}
.column .lump-left .video-img a .count .left span {
  margin-right: 10px;
}
.column .lump-left .left, .column .lump-left .right {
  float: left;
}
.column .lump-left .video-img a .count .right span {
  /*float: right;*/
  position: absolute;
  right: 5px;
}
.column .lump-left .video-img a .count .left {
  display: flex;
  align-items: center;
}
.column .lump-left .video-img a .video-title {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 8px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  padding-right: 12px;
}
.column .lump-left .video-img a .video-title .icon-gg {
  fdisplay: inline-block;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 8px;
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #b2b2b2;
  color: #b2b2b2;
  font-weight: 400;
}
.column .lump-left .up {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin-top: 60px;
}
.column .lump-left .up i {
  align-items: center;
  font-size: 12px;
  margin-right: 3px;
  line-height: 16px;
}

.column .lump-right {
  width: 320px;
}
.column .lump-right .lump-right-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 36px;
}
.column .lump-right .name {
  display: inline-block;
  color: #212121;
  vertical-align: bottom;
  font-size: 20px;
  line-height: 28px;
}
.column .lump-right li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  position: relative;
}

.column .lump-right li .num{
  font-size: 14px;
  color: #999;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
}
.column .lump-right li .hig{
  color: #fff;
  background: #00a1d6;
}
.column .lump-right li .content {
  display: flex;
  width: 290px;
  position: relative;
  font-weight: 500;
}
.column .lump-right li .content .pic {
  position: relative;
}
.column .lump-right li .content img {
  width: 112px;
  height: 63px;
  border-radius: 2px;
  background-size: 100% 100%;
}
.column .lump-right li .link {
  display: inline-block;
}
.column .lump-right li .content .txt {
  margin-left: 12px;
}
.column .lump-right li .content .txt p {
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
  word-break: break-word!important;
  word-break: break-all;
}
.column .lump-right li .content .txt span {
  color: #999;
  white-space: nowrap;
}
.column .lump-right li .title {
  width: 290px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word!important;
  word-break: break-all;
  font-weight: 500;
}

/* 公共Footer */
#p-footer {
  font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  position: relative;
  /*margin: 0;*/
  background-color: #f6f9fa;
  padding: 30px 0;
  min-width: 999px;
}
#p-footer * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#p-footer ul {
  list-style: none;
}
#p-footer .p-footer-one{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

#p-footer .p-footer-one .footer-left{
  flex: 4;
  display: flex;
  justify-content: space-between;
}
#p-footer .p-footer-one .footer-left .link-item{
  flex: 2;
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #eee;
}
#p-footer .p-footer-one .footer-left .link-item.link-2{
  flex: 3;
}
#p-footer .p-footer-one .footer-left .link-item span{
  font-size: 16px;
  color: #999;
  display: block;
  height: 20px;
  margin-bottom: 20px;
}
#p-footer .p-footer-one .footer-left .link-item ul{
  height: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#p-footer .p-footer-one .footer-left .link-item ul a:nth-child(4n) {
  margin-bottom: 0;
}
#p-footer .p-footer-one .footer-left .link-item a{
  display: inline-block;
  margin-bottom: 10px;
  width: 50%;
  height: 20px;
  cursor: pointer;
}
#p-footer .p-footer-one .footer-left .link-item.link-2 a{
  width: 33.33%;
}
#p-footer .p-footer-wrap{
  max-width: 1630px;
  min-width: 999px;
  margin: 0 auto;
}
@media screen and (max-width: 1654px){
  .p-footer-wrap, .p-wrap {
    width: 1198px;
  }
}
@media screen and (max-width: 1870px){
  .p-footer-wrap, .p-wrap {
    width: 1414px;
  }
}
#p-footer .p-footer-one .footer-right{
  flex: 1;
  display: flex;
  align-items: center;
}
#p-footer .p-footer-one .footer-right .footer-right-c{
  padding-right: 0;
  flex: 2;
  border-right: none;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#p-footer .p-footer-one .footer-right .footer-right-c .item{
  flex: 1;
  display: flex;
  min-width: 70px;
  justify-content: center;
  align-items: center;
}
#p-footer .p-footer-one .footer-right .footer-right-c a {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #212121;
}
#p-footer .p-footer-one .footer-right .footer-right-c i{
  font-size: 50px;
  color: #585f69;
}
#p-footer .p-footer-one .footer-right .footer-right-c p {
  margin-top: 10px;
  color: #212121;
  height: 20px;
  transition: color 0.2s;
}
